/eclipse
/.gradle
/out

# forge
/*-changelog.txt

# phpstorm project files
.idea
*.iml
*.iws
*.ipr

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
